<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  
  
  <appSettings>
    
    <add key="PDTToken" value="EOn7hZZyUbnTtU7umCf62pwYLcgYDh2etPW12xUnlnLCSVEhFrbx5CzjFvPRWNpnFnUbtYVx2zGirK4R" />
    <add key="PayPalUsername" value="sb-hnuyg2687388@business.example.com" />
    <add key="returnurl" value="http://localhost:44320/paypal/sucess" />
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    
  </appSettings>
  
</configuration>